.team {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.team_member {
    background: #333333;
    border: .80rem solid white;
    border-radius: 10px;
    box-shadow: 7px 10px 5px rgb(231, 231, 231), -3px -7px 10px rgb(230, 230, 230);
}

.team_member_img img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    border: .80rem solid #fff;
    object-fit: cover;
    margin: -5rem auto 30px;


}