.video-div {
  position: relative;
}

#about-section ul li {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 5px;
}

#about-section ul li img {
  width: 20px;
  height: 20px;
}

#about-section .play-icon {
  top: 42%;
  left: 42%;
  position: absolute;
  display: flex;
  align-items: end;
  justify-content: center;
}

#about-section .play-icon img {
  animation: img-animation 0.8s infinite;
  cursor: pointer;
}

.about-content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #124265;
  font-family: "Poppins", sans-serif;
}

@keyframes img-animation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
